{% extends 'base.html.twig' %}

{% block title %}Artical index{% endblock %}

{% block body %}
    <h1>Artical index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artical in articals %}
            <tr>
                <td>{{ artical.id }}</td>
                <td>{{ artical.name }}</td>
                <td>{{ artical.age }}</td>
                <td>
                    <a href="{{ path('app_artical_show', {'id': artical.id}) }}">show</a>
                    <a href="{{ path('app_artical_edit', {'id': artical.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artical_new') }}">Create new</a>
{% endblock %}
